@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


header {

    background-image: url(huntington.png);
    margin: auto;
    height: 40vh;

}



h1 {
    font-family: 'IBM Plex Mono';
    color: white;
    font-size: 6vh;
    font-weight: lighter;
    text-shadow: 1px 6px black;
    text-align: center;
    padding: 2em 0 0 1em;

}



h2 {
    font-family: 'Satisfy';
    font-size: 3vh;
    font-style: italic;
    color: white;
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 0vh 20vh 0vh 20vh;
}

h3 {
    font-family: 'Roboto';
    font-size: 2.5vh;
    font-weight: bolder;
    font-stretch: expanded;
    padding: 0vh 20vh 0vh 20vh;
}
p {
    font-family: 'IBM Plex Mono';
    font-size: 1.9vh;
    padding: 0vh 20vh 0vh 20vh;
}

    
.participation, .benefits{
    background-image: url(bamboo.png);
    
    background-color: rgb(94, 170, 127);
    margin-top: 0;
    margin-bottom: 0;

                                                        
}

} 

div.participation{
    padding: 3em;
    margin-top: 3em;
    
 }
 div.benefits {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 3em;
 }
 div.participation h3, div.benefits h3 {
    margin-top: 0;
 }
 div.participation p, div.benefits p {
    margin-bottom: 0;
    color: white;
 }

 div.participation h3 {
     padding-top: 1em;
 }


                .summary a {
                color: gray;
                }

  /* Hover over   */
  /* To style links appropriately, put the :visited rule after the :link rule but before the :hover and :active rules, as defined by the LVHA-order: :link — :visited — :hover — :active. */
                
                
.summary a:hover {
    color: hotpink;
                        }

.summary a:active {
    color: blueviolet;
                            }
                             
.participation a:hover{
    color: hotpink;
}
.participation a:active {
    color: blueviolet;
}

.requirements a:hover{
    color: hotpink;
}
.requirements a:active {
    color: blueviolet;



}

/* Change font of Dave Shea, mediatemple, Zen Garden, the book to Satisfy. Colour white. Italics. Increase font size. */
/* Change font of By, Bandwith graciously donated by, Now available  */ 


[role=contentinfo]{
    width: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
    background: rgb(179, 209, 192);
    height: 15vh;
    font-family: 'IBM Plex Mono';
    color: gray;
    font-size: 4vh;
    text-align: center;
} 
/* Change Dave Shea font and size, remove underline when hover over */

[role=contentinfo]  a:hover{
    font-family: 'Satisfy';
    font-size: 6vh;
    font-style: italic;
    color: white;
    text-decoration: none;
                            }

footer {
    width: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    background: rgb(69, 106, 101);
    height: 4vh;
    color: white;
    font-size: 5vh;
    text-align: center;
    word-spacing: 30px;
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color: gray;
}

.design-selection, .design-archives {
    /* width: auto; */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0;
    background: rgb(230, 237, 233);
}

.design-name, .designer-name {

    font-family: 'Roboto';
    font-size: 2vh;
    text-decoration: none;
}

.design-name {
    color: black;
}
.designer-name {
    color: gray;   
}

[role=navigation] a {
    font-size: 2vh;
}

.zen-resources {
    background-image: url(bamboo.png);
    background-color: rgb(94, 170, 127);
    margin-top: 0;
    margin-bottom: 0;
}

.design-archives a {
    color: gray;
    font-family: 'Roboto';
    font-size: 2vh;
    text-decoration: none;
    list-style-type: none;
}
.zen-resources a {
    color: darkgreen;
    font-family: 'Roboto';
    font-size: 2vh;
    text-decoration: none;

}

li {
    /* display: inline-block; */
    width:fit-content;
    list-style-type: none;
    padding: 10px 25px 10px 25px;
    columns: 2;
    align-items: center;
    /* vertical-align: middle; */
    margin-left: 5vh; 
    margin-right: 5vh;
    /* border-bottom: 1px solid gray; */
}

.design-selection li {
    line-height: 500%;
    /* border-bottom: 1px solid gray; */
    /* vertical-align: middle; */
    margin-left: 5vh;
    margin-right: 5vh;
}

.design-archives li {
    vertical-align: middle;
    color: darkgreen
}

.design-selection {
    display: flex;
    justify-content: space-between;
    flex: wrap;
    flex-direction: columnn;
    column-count: 2;

}






